body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    background-image: linear-gradient(45deg, #d2001a, #7462ff, #f48e21, #23d5ab, #de5c8c, #d2001a);
    background-size: 400% 400%; /* Để tăng kích thước gradient */
    animation: gradientAnimation 12s ease-in-out infinite; /* Đổi tên animation */
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%; /* Bắt đầu từ vị trí 0% */
    }
    50% {
        background-position: 100% 50%; /* Di chuyển đến vị trí 100% */
    }
    100% {
        background-position: 0% 50%; /* Quay trở lại vị trí ban đầu */
    }
}

header {
    background-color: #da1b60;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.logo img {
    width: 100px;
    height: auto;
}

main {
    padding: 20px;
}

form {
    width: 500px;
    margin: 0 auto;
}

.label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus {
    border-color: #0084ff;
}

button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #da1b60;
    text-decoration: none;
    text-align: center;
    border: #da1b60 2px solid;
    cursor: pointer;
    background-color:#ffffff;
    border-radius: 5px;
    transition: transform 0.3s, background-color 0.3s,color 0.3s;
}

button:hover {
    transform: translateY(10px);
    background-color:#da1b60;
    color: #fcfbfc;
}

footer {
    background-color:#da1b60;
    padding: 20px;
    text-align: center;
    box-shadow: 0 -2px 4px rgba(0,0,0,0.1);
}
/* Animations */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}